#banner{
    background-image: url('https://i.postimg.cc/N0pH6VHd/image-23.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom; */
    height: 90vh;
}
#banner h1{
    font-family: 'Playfair Display', serif;
    z-index: 1;
    color: white;
    position: relative;
    font-size: 3.5rem;
    text-align: center;
    top: 5.8rem;
}

.box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor:pointer;
}
.box:hover{
    border-radius:40% 20%/50% 20%;
}

@media screen and (max-width:800px) {
    #banner h1{
        font-size: 2.5rem;
        top:10.8rem;
    }
}
@media screen and (max-width:600px) {
    #banner h1{
        font-size: 2rem;
        top:10.8rem;
    }
}
@media screen and (max-width:450px) {
    #banner h1{
        font-size: 1.5rem;
        top:10.8rem;
    }
}